<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load staticfiles %}

<html lang="en">

    {%block content%}
         {% for article in articles %}
                                <div class="article">
                                    <h1><a href=" {% url 'blog.views.article_detail' pk=article.pk %}">{{ article.title }}</a></h1>
                                    <p>author:{{ article.author }}</p>
                                    <p>published: {{ article.published_date }}</p>
                                    <p>{{ article.text|linebreaks }}</p>
                                </div>
                            {% endfor %}
    {% endblock content %}
</html>

!url 'blog.views.article_detail' pk=article.pk %}"